body {
    margin: 0;
    font-size: 16px;
    background: #fff;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #F2F5F9;
    padding: 13px 0;
}

.header_logo {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.header_text {
    margin-left: 20px;
}

.profile_link {
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color: #FF4D4D;
    padding: 16px 20px;
    text-decoration: none;
    margin-left: auto;
}